    @import 'reset.scss';
    @import 'externalfiles.scss';
    @import 'varibles.scss';
    @import 'mixins.scss';
    @import 'responsive.scss';
    @import '../css/fonts/ostrich-sans.css';
    @import 'polygon.scss';
    @import 'colors.scss';
    @import 'movingBackground.scss';
    @import 'nav.scss';
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Ostrich Sans';
    }

    .container {
        font-family: sans-serif;
    }

    header {
        width: 100%;
        margin-top: 55px;
        //background-image: url('../media/languages.png');
        position: relative;
        background-size: 80%;
        @include screen-tablet-landscape-and-up {
            height: 90vh;
        }
        @include screen-phone-to-screen-tablet-portrait {
            min-height: 90vh;
        }
        img.center-content {
            width: 80%;
        }
    }

    .attribution {
        font-size: .4rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .link-button {
        padding: 10px;
        background-color: #0692d0;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        white-space: nowrap;
        @include screen-phone-to-screen-tablet-portrait {
            margin-bottom: 25px;
        }
        &:hover {
            background-color: #1ce;
        }
    }

    @import 'websites.scss';
    .languages {
        background-image: url('../media/languages.png');
        background-size: 80%;
        height: 90vh;
    }

    @import 'footer.scss';