@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
header {
  .radial-gradient-c0dec5-to-7add8a;
  .parrallel-polygon(0,0%,70%,100%);
  text-align: center;
  height: 20vh;
  position: relative;
  padding-top: 5%;
  z-index: 1;
  h1{
    font-family: 'Shadows Into Light', cursive;
    font-weight:bold;
  }
}
