.parallax-section-height(){
  min-height:@parallax-min-height;
  height:@parallax-height;
  max-height:@parallax-max-height;
}
.transition(@type,@time,@trans:ease-in-out){
  transition: @type @time @trans;
  -moz-transition: @type @time @trans;
  -webkit-transition: @type @time @trans;
}

@import "gradients.less";

@import "polygon.less";
