@import "browser-reset.less";
@import "element-font-sizes.less";
@import "varibles.less";
@import "mixins.less";
@import "nav.less";
@import "link-button.less";
@import "header.less";
@import "parallax.less";
@import "footer.less";
body {
  @media screen and (max-width: @screen-sm){

  }
  background-color: @parallax-content-color;
}
.all-logos{
  background-color:#babaca;
  background-image: url("../media/all_web_tech_logos.png");
  height:80vh;
  top:-10vh;
  &>.parallax-content {
    top:80%;
  }
  @media screen and (max-width: @screen-sm){
    top:-15vh;
    &>.parallax-closing {
      height: 5vh;
    }
  }
}
.javascript-jquery-nodejs {

  background-image: url("../media/Javascript_jquery_node.png");
}
.html-css-bootstrap-less {

  background-image: url("../media/html5_css_less_bootstrap.png");
  &>.parallax-content {
    top:70%;
  }
}
.php-mysql-git {

  background-image: url("../media/php-mysql-git-no-background.png");
}
.microsoft {

  background-image: url("../media/microsoft-logos.png");
}
a.back-to-top {
    position: fixed;
    color:#101;
    background-color: rgba(80,186,110,0.7);
    .transition(opacity, 1s);
    &:hover{
      background-color: rgba(80,186,110,1);
    }
    bottom: 40px;
    right: 40px;
    padding: 30px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}
.unsplash-credit {
  position: absolute;
  bottom:10px;
  white-space: nowrap;
}
