@mixin center-element {
    margin-right:auto;
    margin-left:auto;
}

/* media queries */
@mixin screen-phone {
  @media (max-width: $phone-only-max) { @content; }
}
@mixin screen-tablet-portrait {
  @media (min-width: $tablet-portrait) { @content; }
}
@mixin screen-tablet-landscape {
  @media (min-width: $tablet-landscape) { @content; }
}
@mixin screen-desktop {
  @media (min-width: $desktop) { @content; }
}
@mixin screen-big-desktop {
  @media (min-width: $big-desktop) { @content; }
}

/* single property change */

@mixin singleProperyResponsive($property, $ph:null, $tb-p:null, $tb-l:null, $dk:null, $lg-dk:null){
   @if ($ph){
       @include screen-phone {
           $property : $ph;
        }
    }
    @if ($tb-p){
        @include screen-tablet-portrait {
        $property : $tb-p;
        }
    }
    @if ($tb-l){
        @include screen-tablet-landscape {
        $property : $tb-l;
        }
    }
    @if ($dk){
        @include screen-desktop {
        $property : $dk;
        }
    }
    @if (lg) {
        @include screen-big-desktop {
        $property : $lg-dk;
        }
    }
}